/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Roboto', Helvetica, sans-serif;
    margin: 0px;
}

/*HEADER SECTION OF THE WEBSITE */
.header{
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size:larger;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
    margin: 0px;
    padding-right: 32px;
    font-size: 16px;
    align-items: center;
}

li {
    color: white;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

/* FIRST SECTION OF THE WEBSITE */

.first-section {
    display: flex;
    flex: 1;
    background-color:#1F2937;
    color: white;
    align-items:center;
    justify-content:center;
}

.first-sec-left-side {
    align-items: center;
    margin: 32px;
    
}

.second-sec-right-side img {
    margin: 32px;
    border-radius: 8px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-weight: bold;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 500px;
}

.subtext {
    width: 550px;
}

/*HERE STARTS THE SECOND SECTION CSS */
.second-section {
    display: flex;
    flex-direction: column;
    margin: 48px;
}

.second-section-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.second-section-ilustrations{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ilustration {
    border: 5px black;
    text-align: center;
    width: 250px;
}

.ilustration-image img {
    width: 100px;
    margin: 32px;
    padding: 32px;
    border: 5px solid orange;
    border-radius: 8%;
}

.ilustration-subtext {
    padding: 0px 4px;
}

/*HERE STARTS THE THIRD SECTION CSS */

.third-section{
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.inspiring-quote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    margin: 64px 64px 0px 64px;
}

.quote-signature {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 64px;
    margin-bottom: 64px;
}

/* HERE STARTS THE FOURTH SECTION */

.fourth-section {
    
}

.square-container {
    background-color:deepskyblue;
    margin: 128px;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
}

.call-to-action {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.call-to-action-sign-up{
    color: white;
}

.call-to-action-button{
    background-color: transparent;
    margin: 0px 32px 0px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
}

/* Here starts the footer */

.footer-text{
    background-color: #1F2937;
    color: white;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}